---
import Heading from '../components/typography/Heading';
import Layout from '../layouts/Layout.astro';
import SidebarLayout from '../layouts/Sidebar';

const title = "Nolan Phillips"
---
<Layout title={title}>
  <SidebarLayout>
    <div class="sticky top-0 h-screen">
      <SidebarLayout.Sidebar client:load />
    </div>
    <SidebarLayout.Pane>
      <Heading as="h1" size={1}>Nolan Phillips</Heading>
    </SidebarLayout.Pane>
  </SidebarLayout>
</Layout>