---
import type { MenuItem } from "../content/_menu";
import Icon from "./Icon";
import Text from "./typography/Text";

const { href, icon, name } = Astro.props as MenuItem
---
<a href={href} class="rounded-md py-1 px-2 -mx-2 text-zinc-800 hover:text-zinc-50 dark:text-zinc-50 dark:hover:text-white hover:bg-zinc-600 dark:hover:bg-zinc-500">
  <li>
    <Text as='span' size='sm' color='inherit'>
      <span class="flex flex-row gap-2 items-center">
        <Icon name={icon} />
        {name}
      </span>
    </Text>
  </li>
</a>