@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a:link {
  color: var(--tw-color-red);
}

.dark a:link {
  color: var(--tw-color-red);
}

p + p {
  margin-top: 0.5em;
}