---
import './Layout.css'
import Tabbar from './Tabbar'
import { THEME_COOKIE } from '../hooks/useTheme'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | nolanphillips.com</title>

    <link rel="stylesheet" href="/css/prism.css" />
    <script is:inline define:vars={{ THEME_COOKIE }}>
      const override = window.localStorage.getItem(THEME_COOKIE)
      const prefersDark = override === 'dark' || !override && window.matchMedia('(prefers-color-scheme: dark)').matches
      const root = document.documentElement

      if (prefersDark) {
        root.classList.add('dark')
      }
      else {
        root.classList.remove('dark')
      }      
    </script>
	</head>
	<body class="bg-zinc-50 dark:bg-zinc-900">
    <Tabbar.Layout sm md>
      <slot />
      <Tabbar sm md lg client:idle />
    </Tabbar.Layout>
	</body>
</html>
