---
import { basename } from "path"
import Layout from "../../layouts/Layout.astro"
import SidebarLayout from "../../layouts/Sidebar"
import { CardArticle } from "../../components/CardArticle"
import Heading from "../../components/typography/Heading"
import { getArticles } from "../../lib/articles"

const title = "Writing"
const articles = getArticles({ category: Astro.params.category })
---

<Layout title="Writing">
  <SidebarLayout.Header title={title} />
  <SidebarLayout>
    <div class="sticky top-0 z-40 h-screen">
      <SidebarLayout.Sidebar client:idle />
    </div>
    <SidebarLayout.Panel title="Writing">
      <span class="lg:hidden">
        <Heading as="h2">Writing</Heading>
      </span>
      <div class="z-40 -mx-4 flex flex-col">
        {articles.map((article) => <CardArticle article={article} />)}
      </div>
    </SidebarLayout.Panel>
    <SidebarLayout.Pane dots />
  </SidebarLayout>
</Layout>
