---
import { basename } from 'path'
import Layout from '../../layouts/Layout.astro';
import SidebarLayout from '../../layouts/Sidebar';
import { CardArticle } from '../../components/CardArticle';

const title = "Writing"
const articles = (await Astro.glob('../../content/articles/*.{md,mdx}'))
  .map(article => ({
    ...article,
    slug: basename(article.file).split('.')[0]
  } as any))
  .filter(article => article.frontmatter.category === Astro.params.category)
  .sort((a, b) => Date.parse(b.frontmatter.created) - Date.parse(a.frontmatter.created))
---
<Layout title="Writing">
  <SidebarLayout.Header title={title} />
  <SidebarLayout>
    <SidebarLayout.Sidebar client:idle />
    <SidebarLayout.Panel title="Writing">
      <div class="-mx-4 flex flex-col">
        {articles.map(article => (
          <CardArticle article={article} />
        ))}
      </div>
    </SidebarLayout.Panel>
    <SidebarLayout.Pane dots />
  </SidebarLayout>
</Layout>
